{% extends "registration/registration_base.html" %}
{% block title %}Nullstill passord{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="offset4 span4">
            <p>
            Glemt passordet ditt? Skriv inn din registrerte epost-adresse i skjemaet under og du vil få tilsendt instruksjoner for å lage et nytt.
            </p>
            <form method='post' action=''>{% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <input type='submit' value="Reset passord" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
