{% extends "registration/registration_base.html" %}
{% block title %}Opprett konto{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="offset4 span4">
            <form method='post' action=''>{% csrf_token %}
           {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Send aktiveringsinstruksjoner" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
