{% extends "admin/change_form.html" %}

{% block extrahead %}
<script>
    (function($) {
        $(document).ready(function () {
            $("#send-mail-button").click(function() {
                var btn = $(this);
                var loading = $("#loading-indicator");
                var loading_anim_timer = setTimeout(function() {
                    loading.show();
                }, 100);
                // TODO: Resolve correct event
                $.get("/email_event/1", function(data) {
                    $("#mail-dialog").dialog();
                    document.getElementById("mail-dialog").innerHTML = data;
                    clearTimeout(loading_anim_timer);
                    loading.hide();
                });
            });
        });
    })(grp.jQuery);
</script>
{% endblock %}

{% block object-tools-items %}
   <li style=display:none;" id="loading-indicator"><img src="/static/img/loading.gif"></img></li>
   <li><a href="#" class="historylink" id="send-mail-button">Send epost til deltakere</a></li>
   {{ block.super }}
{% endblock %}

{% block after_field_sets %}
    <div id="mail-dialog">asdkaskdjaksj</div>
{% endblock %}
