{% extends 'mangekamp/base.html' %}
{% load filters %}

{% block scripts %}
<script>
    $(".results_btn").click(function() {
        var btn = $(this);
        var loading = $("#loading-indicator");
        var loading_anim_timer = setTimeout(function() {
            loading.show();
        }, 100);
        var event_id = btn.attr('id').split("_")[1];
        $("#modal_dialog").load("/results/"+event_id, function() {
            $("#modal_dialog").modal();
            clearTimeout(loading_anim_timer);
            loading.hide();
        });
    });

</script>

{% endblock %}

{% block content %}

<h1>Mangekjempere</h1>
<table class="table table-hover full-scoreboard">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Snittplassering</th>
            <th>Kategorier</th>
            <th>Arrangementer</th>
            <th>Status</th>       
            {% for event in events %}
            <th><a class="btn btn-primary results_btn" id="results_{{event.id}}" >{{ event.name }}</a></th>    
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.0.get_full_name }}</td>
            <td>{{ user.1.score}}</td>
            <td>{{ user.1.categories|length }}</td>
            <td>{{ user.1.attendance }}</td>
            <td>{{ season|to_mangekjemper_status:user.1|safe }}</td>
            {% for event, score in user.1.events.items %}
            <td style="{{ score.1|category_to_style }}">{{ score.0 }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
</table>

<h1>På veien til mangekjemper</h1>
<table class="table table-hover full-scoreboard">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Kategorier</th>
            <th>Arrangementer</th>
            <th>Status</th>       
            {% for event in events %}
            <th><a class="btn btn-primary results_btn" id="results_{{event.id}}" >{{ event.name }}</a></th>    
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for user in lazy_users %}
        <tr>
            <td>{{ user.0.get_full_name }}</td>
            <td>{{ user.1.categories|length }}</td>
            <td>{{ user.1.attendance }}</td>
            <td>{{ season|to_mangekjemper_status:user.1|safe }}</td>
            {% for event, score in user.1.events.items %}
            <td style="{{ score.1|category_to_style }}">{{ score.0 }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
</table>

{% endblock %}
