{% extends "mangekamp/base.html" %}
{% load filters %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $("#scoreboard").load("/scoreboard/{{ current_season.id}}");
    });

    $(".results_btn").click(function() {
        var btn = $(this);
        var loading = $("#loading-indicator");
        var loading_anim_timer = setTimeout(function() {
            loading.show();
        }, 100);
        var event_id = btn.attr('id').split("_")[1];
        $("#modal_dialog").load("/results/"+event_id, function() {
            $("#modal_dialog").modal();
            clearTimeout(loading_anim_timer);
            loading.hide();
        });
    });

    $(".signup_btn").click(function() {
        var clicked_button = $(this);
        var event_id = $(this).attr('id').split("_")[1];
        var loading = $("#loading-indicator");
        var loading_anim_timer = setTimeout(function() {
            loading.show();
        }, 10);
        $.ajax({url:"/signup/"+event_id}).done(function(data) {
            clearTimeout(loading_anim_timer);
            loading.hide();
            var result = jQuery.parseJSON(data);
            if (result.signed_up == true) {
                clicked_button.html("Påmeldt");
                clicked_button.removeClass("btn-danger");
                clicked_button.addClass("btn-success signed_up");
            } else if (result.signed_up == false) {
                clicked_button.html("Meld meg på!");
                clicked_button.removeClass("btn-success btn-danger signed_up");
            }
        });
    });

    $(".signup_btn").mouseover(function() {
        var btn = $(this);
        if (btn.hasClass("signed_up")) {
            btn.html("Meld av");
            btn.removeClass("btn-success");
            btn.addClass("btn-danger");
        } else if (!btn.hasClass("signed_up")) {
            btn.html("Meld meg på!");
            btn.removeClass("btn-danger");
            btn.addClass("btn-success");
        }
    });

    $(".signup_btn").mouseout(function() {
        var btn = $(this);
        if (!btn.hasClass("signed_up")) {
            btn.html("Meld meg på!");
            btn.removeClass("btn-success");
        } else if (btn.hasClass("signed_up")) {
            btn.html("Påmeldt");
            btn.removeClass("btn-danger");
            btn.addClass("btn-success");
        }
    });
</script>
{% endblock %}

{% block content %}
      <div class="row-fluid">
          <div class="span2" id="scoreboard">
              <p class="pagination-centered" style="font-size:2em;">
                Henter scoreboard...
              </p>
          </div>
        <div class="span10">
          <div class="hero-unit">
            <h1>Velkommen til mangekampen!</h1>
            <p>
            {% if current_season %}
            <p>
                Vi er nå godt i gang med en sesong som varer fra {{ current_season.startDate }} til {{ current_season.endDate }}
            </p>
            {% else %}
            <p>
                Akkurat nå er det ingen sesong gående, men vi gleder oss alle til høsten begynner og en ny sesong står for tur!
            </p>
            {% endif %}
          </div>
      </div>
          <h1>Neste events</h1>
          <div class="row-fluid">
            {% for event in future_events %}
            <div class="span4">
              <h2>{{ event.name }}</h2>
              <p>
                    <b>Tid:</b> {{ event.time }}<br />
                    <b>Sted:</b> <a href="{{event.location_url}}">{{event.location}}</a><br />
              </p>
              <p>
                  {{ event.description }}
              </p>
              {% if event|has_user:request.user %}
              <p><a id="signup_{{event.id}}" class="btn btn-block signup_btn btn-success signed_up">Påmeldt</a></p>
              {% else %}
              <p><a id="signup_{{event.id}}" class="btn btn-block signup_btn">Meld meg på!</a></p>
              {% endif %}
            </div><!--/span-->
            {% endfor %}
          </div><!--/row-->
          <h1>Forrige events</h1>
          <div class="row-fluid">
            {% for event in past_events %}
            <div class="span4">
              <h2>{{ event.name }}</h2>
              <p>
                    <b>Tid:</b> {{ event.time }}<br />
                    <b>Sted:</b> <a href="{{event.location_url}}">{{event.location}}</a><br />
              </p>
              <p>
                  {{ event.description }}
              </p>
              <p><a id="results_{{event.id}}" class="btn btn-block results_btn">Se resultater</a></p>
            </div><!--/span-->
            {% endfor %}
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
{% endblock %}

