<h1>Mest aktive</h1>
<table class=" table table-hover activity-table">
    <thead>
        <tr>
            <th>Deltaker</th>
            <th class="activity-attendance">Arrangementer</th>
        </tr>
    </thead>
    <tbody>
        {% for score in scores %}
        <tr>
            <td>{{ score.0.get_full_name }}</td>
            <td class="activity-attendance">{{ score.1 }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="2">Foreløpig ingen registrerte resultater</td></tr>
        {% endfor %}
    </tbody>
</table>
